@use "./scss/" as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  transition: all 0.275s ease;
}

// == CHECK lại

//  ======= responsive =========
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1280px;
//   }
// }
// @media (min-width: 992px) {
//   .container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 768px) {
//   .container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 576px) {
//   .container {
//     max-width: 540px;
//   }
// }
// ======== general =========

.container {
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

img {
  object-fit: cover;
  object-position: center;
}

//-----------> product
.product {
  .product-item {
    .image {
      overflow: hidden !important;
      img:hover {
        transform: scale(1.2);
      }
    }
  }
  .name {
    font-size: 15px;
    font-weight: bold;
    &-hover {
      color: $primary-color;
    }
  }
}
