@use "../../../scss/" as *;
@import "~bootstrap/scss/bootstrap";

.manage-product-type {
    display: flex;

    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding-left: 10px;

        .toolbar {
            display: flex;
            background-color: $primary-color;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
            color: $third-color;
        }
    }

    td,
    th {
        text-align: center;
        line-height: 50px;
    }

    button>i {
        margin-right: 3px;
        font-size: 14px;
    }
}